.place__title {
  grid-area: title;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  text-align: left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row-align: end;
  align-self: end;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 6vw;
    line-height: 46px;
  }

}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 90vw;
    margin: 0 auto;
    padding-right: 0;
  }
}