.lead {
  width: 76.875vw;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.625vw;
    min-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100vw;
    min-width: 425px;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    width: 100vw;
    min-width: 320px;
    margin: 0;
  }
}