.cover__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 31px 0 245px;
  max-width: 360px;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding: 31px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: 2vw;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 16px 0 33px;
    max-width: 288px;
  }
}