.header {
  width: 93vw;
  max-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 28px 0 56px;
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 91vw;
    padding: 28px 0 48px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 94vw;
    padding: 28px 0 48px;
    margin:0 auto;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 90vw;
    padding: 16px 0 48px;
    margin: 0 auto;
  }
}