.header {
  width: 92.5vw;
  max-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0 56px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90.625vw;
    padding: 28px 26px 48px 47px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 93.75vw;
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 90vw;
    padding: 16px 16px 48px;
  }
}