.footer__copyright {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 22px;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    bottom: 16px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 2vw; /* округлила, но теперь расхождение с макетом. Так во многих местах */
    width: 50vw;
    bottom: 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    line-height: 14px;
    font-size: 14px;
    justify-content: flex-start;
    text-align: left;
    width: 90vw;
    left: 0;
    bottom: 22px;
  }
}
