.lead__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  width: 640px;
  height: 72px;
  margin: 0 auto 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    text-align: center;
    margin: 0 auto 56px;
    font-size: 3.9vw;
    width: 83.3vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px;
    height: 40px;
  }
}