.cover {
  width: 92.5%;
  min-height: 740px;
  margin: 0 48px;
  background-image: url(../../images/cover-trains.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}