.cover__overlay {
  display: block;
  background-image: url(../../../images/cover-trains.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1184px;
  margin: 0 auto;
  height: 740px;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.cover__overlay::after {
  display: block;
  content: "";
  opacity: 0.3;
  background-color: #2A2C2F;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.cover__overlay:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    height: 200px;
  }
}